:root {
  --white: #FFFFFF;
  --black: #000000;
  --dark: #222222;
  --light: #EEEEEE;
}

body{
	padding:0;
	margin:0;
	font-family: "Decimal A", "Decimal B";
	font-style: normal;
	font-weight: 400;
}

a{
	color:#000;
}

.roman{
	font-family: "Hoefler Text A", "Hoefler Text B";
	font-style: normal;
	font-weight: 400;
}

.nav a{
	text-decoration: none;
	color:black;
	margin-left: 1rem;
}

.bar{
	background:#fff;
	position: fixed;
	bottom:0;
	left:0;
	right:0;
	z-index: 10;
	font-family: "Hoefler Text A", "Hoefler Text B";
	font-style:italic;
	padding:1.5rem 0;
}

.bar a{
	text-decoration: none;
}

.dark .bar{
	background:#000;
}

.dark .bar a{
	color:#fff;
}

.bar .flip:after{
	content:" After";
	font-family: "Decimal A", "Decimal B";
	font-style: normal;
	font-weight: bold;
	padding:0 4px;
}

.flip .bar .flip:after{
	content:" Before";
}

.bar .dark:before{
	content:"Light ";
	font-family: "Decimal A", "Decimal B";
	font-style: normal;
	font-weight: bold;
	padding:0 4px;
}

.dark .bar .dark:before{
	content:"Dark ";
}

.item{
	position: relative;
}

.item img{
	max-width:100%;
	height:auto;
}

.item .before{
	position: absolute;
	left:0;
	clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
	transition: .5s ease clip-path;
}

.flip .item .before{
	position: absolute;
	left:0;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

